{% extends "admision/base.html" %}
{% load static %}

{% block head_files %}
    <link href="{% static "assets/plugins/select2/dist/css/select2.min.css" %}" rel="stylesheet" />
    <link href="{% static "assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css" %}" rel="stylesheet" />
    <link href="{% static "assets/plugins/DataTables/extensions/FixedColumns/css/fixedColumns.bootstrap.min.css" %}" rel="stylesheet" />
	<link href="{% static "assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css" %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<!-- begin #content -->
    <div id="content" class="content">
        <!-- begin breadcrumb -->
        <ol class="breadcrumb pull-right">
            <li class="breadcrumb-item"><a href="javascript:;">Admision</a></li>
            <li class="breadcrumb-item active">Buscar</li>
        </ol>
        <!-- end breadcrumb -->
        <!-- begin page-header -->
        <h1 class="page-header">Admisión <small>buscar paciente</small></h1>
        <!-- end page-header -->

        <!-- begin row -->
        <div class="row">
            <!-- begin col-12 -->
            <div class="col-lg-12">
                <!-- begin panel -->
                <div class="panel panel-inverse">
                    <!-- begin panel-heading -->
                    <div class="panel-heading">
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                        </div>
                        <h4 class="panel-title">Buscar Paciente</h4>
                    </div>
                    <!-- end panel-heading -->
                    <!-- begin panel-body -->
                    <div class="panel-body">
                        <div class="col-md-12 own_row_admision">
                            <div class="form-inline">
                                <div class="form-group m-r-20">
                                    <label class="form-check-label">Tipo Documento: </label>
                                </div>
                                <div class="form-group m-r-20">
                                    <select id="select_documento" class="default-select2 form-control">
                                            <option value="1" data-length="8" selected>DNI</option>
                                            <option value="2" data-length="10">Carne Extranjería</option>
                                            <option value="3">Sin Documento</option>
                                    </select>
                                </div>
                                <div class="form-group m-r-20">
                                    <label class="form-check-label">Documento: </label>
                                </div>
                                <div class="form-check m-r-20">
                                    <input id="input_documento" maxlength="8" class="form-control" value="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 hide_notification">
                            <div class="alert alert-success fade show">
                              <strong>¡Encontrado!</strong>
                              Se ha encontrado el siguiente registro:
                            </div>
                        </div>
                        <div class="col-md-12 hide_table">
                            <table id="data-table" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th class="text-nowrap">Código</th>
                                        <th class="text-nowrap">Nombres</th>
                                        <th class="text-nowrap">Apellidos</th>
                                        <th class="text-nowrap">Edad</th>
                                        <th class="text-nowrap">Sexo</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- end panel-body -->
                </div>
                <!-- end panel -->
            </div>
            <!-- end col-12 -->
        </div>
        <!-- end row -->
    </div>
<!-- end #content -->
{% endblock %}

{% block bottom_scripts %}
    <script src="{% static "assets/plugins/select2/dist/js/select2.min.js" %}"></script>
    <script src="{% static "assets/plugins/masked-input/masked-input.min.js" %}"></script>
    <script src="{% static "assets/plugins/DataTables/media/js/jquery.dataTables.js" %}"></script>
	<script src="{% static "assets/plugins/DataTables/media/js/dataTables.bootstrap.min.js" %}"></script>
	<script src="{% static "assets/plugins/DataTables/extensions/FixedColumns/js/dataTables.fixedColumns.min.js" %}"></script>
    <script src="{% static "assets/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js" %}"></script>
    <script src="{% static "assets/own/admision/admision.js" %}"></script>
    <script>
        $(".default-select2").select2();
        $("#masked-number").mask("99999999");
        if ($('#data-table').length !== 0) {
            $('#data-table').DataTable({
                responsive: true,
                paging: false
            });
        }
        init_busqueda();
    </script>
{% endblock %}