{% extends "admision/base.html" %}
{% load static %}

{% block head_files %}
    <link href="{% static "assets/plugins/select2/dist/css/select2.min.css" %}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div id="content" class="content">
        <!-- begin page-header -->
        <h1 class="page-header">Buscar Paciente</h1>
        <!-- end page-header -->

        <!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>
                <h4 class="panel-title">Paciente:</h4>
            </div>
            <div class="panel-body">
                <div class="row own_row_admision">
                    <div class="form-inline">
                        <div class="form-group m-r-20">
                            <label class="form-check-label">Tipo Documento: </label>
                        </div>
                        <div class="form-group m-r-20">
                            <select class="default-select2 form-control">
                                    <option value="1" selected>DNI</option>
                                    <option value="2">Carne Extranjería</option>
                                    <option value="3">Sin Documento</option>
                            </select>
                        </div>
                        <div class="form-group m-r-20">
                            <label class="form-check-label">Documento: </label>
                        </div>
                        <div class="form-check m-r-20">
                            <input class="form-control" value="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <table class="table">
                        <thead>
                            <tr><th>Código</th><th>Nombres</th><th>Apellidos</th></tr>
                        </thead>
                        <tbody>
                            <tr><td>0000-00</td><td>JEFF CARLOS</td><td>PEÑA CONDEZO</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- end panel -->
    </div>
{% endblock %}

{% block bottom_scripts %}
    <script src="{% static "assets/plugins/select2/dist/js/select2.min.js" %}"></script>
    <script src="{% static "assets/plugins/masked-input/masked-input.min.js" %}"></script>
    <script>
        $(".default-select2").select2();
        $("#masked-number").mask("99999999");
    </script>
{% endblock %}